
.form-container
{
    background-color:#E8E8E8;
    background-image: -webkit-gradient(linear, left top, left bottom,); 
    width: 550px;
    height: 550px;
    margin-top: 5px;
    margin-right: 500px;
    padding-bottom: 50px;
    float : right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height:25px;
}

form {
    width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  textarea {
    height: 150px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }